<section id="info">
    <h2>
        Why shopping with us
    </h2>
    <p>
        We offer the best NFTs and the best service. <br />
        We have 25 years of experience selling nfts. <br />
        Once you pay you'll receive your NFTs by email. <br />
    </p>
    <p>
        Need help ?
        <a href="/contact">Contact us</a>
    </p>
</section>