<h1>Welcome to Stranger NFTs !</h1>
<img src='/images/nyan.png' />


<section id="search">
    <form action="/products" method="GET">
        <label>
            Max Price:
            <input type="number" name="maxPrice" />
        </label>
        <button>Submit</button>
    </form>
</section>




{{> banner }}
