<h1>{{title}}</h1>

<section id="product-details">
    <p><strong>Price:</strong> {{price}}€</p>
    <img src='/images/{{imgFile}}' />
</section>


<section id="info">
    <h2>
        Info about our products:
    </h2>
    <p>
        We offer the best NFTs and the best service.
        Once you pay you'll receive your NFTs by email.
    </p>
</section>