<h1>List of amazing NFTs</h1>

<ul>
    <li>
        <a href="/products/1">Nyan NFT</a>
    </li>
    <li>
        <a href="/products/2">Ironhack NFT</a>
    </li>
    <li>
        <a href="/products/3">Stranger NFT</a>
    </li>
</ul>
